{
    "openapi": "3.0.0",
    "info": {
        "title": "Example App API",
        "description": "API documentation for Example App",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        },
        {
            "url": "/api"
        }
    ],
    "paths": {
        "/api": {},
        "/api/campaign-plannings": {
            "get": {
                "summary": "List all campaign plannings",
                "operationId": "02d39c1b3c96396985e4b154d6d0d95b",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Spring Marketing Campaign"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Campaign for spring products",
                                                        "nullable": true
                                                    },
                                                    "email_template_id": {
                                                        "type": "integer",
                                                        "example": 5
                                                    },
                                                    "mailing_list_id": {
                                                        "type": "integer",
                                                        "example": 3
                                                    },
                                                    "scheduled_time": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-04-15 10:00:00"
                                                    },
                                                    "time_zone": {
                                                        "type": "string",
                                                        "example": "America/New_York"
                                                    },
                                                    "status_status_type": {
                                                        "type": "string",
                                                        "example": "scheduled"
                                                    },
                                                    "scheduled_by": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "send_from_email": {
                                                        "type": "string",
                                                        "example": "marketing@example.com"
                                                    },
                                                    "send_from_name": {
                                                        "type": "string",
                                                        "example": "Marketing Team"
                                                    },
                                                    "reply_to_email": {
                                                        "type": "string",
                                                        "example": "support@example.com"
                                                    },
                                                    "tracking_options": {
                                                        "type": "string",
                                                        "example": "open_click"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-03-01 12:00:00"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-03-10 15:30:00"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "Create new campaign planning",
                "operationId": "d025e6f35dc30b96da65e461472014ef",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email_template_id",
                                    "mailing_list_id",
                                    "scheduled_time",
                                    "time_zone",
                                    "status_status_type",
                                    "scheduled_by",
                                    "send_from_email",
                                    "send_from_name",
                                    "reply_to_email",
                                    "tracking_options"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Spring Marketing Campaign"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Campaign for spring products",
                                        "nullable": true
                                    },
                                    "email_template_id": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "mailing_list_id": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "scheduled_time": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2025-04-15 10:00:00"
                                    },
                                    "time_zone": {
                                        "type": "string",
                                        "example": "America/New_York"
                                    },
                                    "status_status_type": {
                                        "type": "string",
                                        "enum": [
                                            "draft",
                                            "scheduled",
                                            "processing",
                                            "completed"
                                        ],
                                        "example": "scheduled"
                                    },
                                    "scheduled_by": {
                                        "type": "integer",
                                        "example": 10
                                    },
                                    "send_from_email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "marketing@example.com"
                                    },
                                    "send_from_name": {
                                        "type": "string",
                                        "example": "Marketing Team"
                                    },
                                    "reply_to_email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "support@example.com"
                                    },
                                    "tracking_options": {
                                        "type": "string",
                                        "example": "open_click"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Spring Marketing Campaign"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "scheduled"
                                                },
                                                "scheduled_time": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-04-15 10:00:00"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/campaign-plannings/{id}": {
            "get": {
                "summary": "Get specific campaign planning",
                "operationId": "1af8844558180fefe5aa6a2755d7e719",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Campaign Planning ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Spring Marketing Campaign"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "scheduled"
                                                },
                                                "scheduled_time": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-04-15 10:00:00"
                                                },
                                                "send_from": {
                                                    "type": "string",
                                                    "example": "Marketing Team <marketing@example.com>"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "summary": "Update campaign planning",
                "operationId": "a0a1543c000f4d31fef2241800ded4f7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Campaign Planning ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Updated Spring Campaign"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Updated campaign description",
                                        "nullable": true
                                    },
                                    "email_template_id": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "mailing_list_id": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "scheduled_time": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2025-04-20 10:00:00"
                                    },
                                    "time_zone": {
                                        "type": "string",
                                        "example": "America/New_York"
                                    },
                                    "status_status_type": {
                                        "type": "string",
                                        "enum": [
                                            "draft",
                                            "scheduled",
                                            "processing",
                                            "completed"
                                        ],
                                        "example": "scheduled"
                                    },
                                    "scheduled_by": {
                                        "type": "integer",
                                        "example": 10
                                    },
                                    "send_from_email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "marketing@example.com"
                                    },
                                    "send_from_name": {
                                        "type": "string",
                                        "example": "Marketing Team"
                                    },
                                    "reply_to_email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "support@example.com"
                                    },
                                    "tracking_options": {
                                        "type": "string",
                                        "example": "open_click"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Spring Marketing Campaign"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "scheduled"
                                                },
                                                "scheduled_time": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-04-15 10:00:00"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "summary": "Delete campaign planning",
                "operationId": "2a86e9f366bf0d12a55365952302788b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Campaign Planning ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/login": {
            "post": {
                "summary": "Authenticate user",
                "operationId": "52038e41a5936a6eac502753ed70936c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email_address",
                                    "password"
                                ],
                                "properties": {
                                    "email_address": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "securepassword"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "your-api-token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials"
                    }
                }
            }
        },
        "/api/users": {
            "get": {
                "summary": "Get list of users",
                "operationId": "862e982d8596a916e4f030cbce92bc53",
                "responses": {
                    "200": {
                        "description": "List retrieved successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "summary": "Create a user",
                "operationId": "29e8316a03b2b47567ccba665fc2b8a7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "first_name",
                                    "last_name",
                                    "email_address",
                                    "password"
                                ],
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email_address": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User created successfully"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing token"
                    },
                    "403": {
                        "description": "Forbidden - User does not have permission to create a user"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/{id}": {
            "get": {
                "summary": "Get a specific user",
                "operationId": "a45734ca634cb48c80af59e00fd6ac7b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User retrieved successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "summary": "Update a user",
                "operationId": "7b1d5722e544300ce266edb80c6cac66",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "first_name": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "last_name": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email_address": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "phone_number": {
                                        "type": "string",
                                        "example": "123-456-7890"
                                    },
                                    "account_status": {
                                        "type": "string",
                                        "example": "active"
                                    },
                                    "company_name": {
                                        "type": "string",
                                        "example": "Acme Corp"
                                    },
                                    "company_address": {
                                        "type": "string",
                                        "example": "123 Main St"
                                    },
                                    "vat_tax_id": {
                                        "type": "string",
                                        "example": "TAX12345"
                                    },
                                    "industry": {
                                        "type": "string",
                                        "example": "Technology"
                                    },
                                    "company_size": {
                                        "type": "integer",
                                        "example": 100
                                    },
                                    "website": {
                                        "type": "string",
                                        "format": "url",
                                        "example": "https://example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User updated successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "summary": "Delete a user",
                "operationId": "fe686921a22e8518e2b486057ab1863b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "User deleted successfully"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            },
            "sanctum": {
                "type": "apiKey",
                "description": "Enter token in format (Bearer <token>)",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
    "tags": [],
    "security": [
        {
            "sanctum": []
        }
    ]
}